@import "src/App";

.meanings {
  & ul {
    padding-inline: 4.7rem;
    line-height: 24px;
    font-size: 18px;

    & li {
      font-size: 1.8rem;
      margin-bottom: 1.5rem;

      &::marker {
        color: $primary-color;
        font-size: 2rem;
        margin-right: 2rem;
      }

      & a.crosslink {
        color: inherit;
        text-decoration: underline;
        text-decoration-color: rgba($font-color, 0.3);
        text-underline-offset: 2px;

        .light & {
          text-decoration-color: rgba($light-font-color, 0.3);
        }

        &:hover {
          text-decoration-color: $primary-color;
        }
      }
    }
  }

  & .type-separator-container {
    @include flex-center;
    margin-top: 3rem;
    max-height: 12rem;

    & h3 {
      display: flex;
      align-items: center;
      gap: 0.8rem;

      & .etymology {
        color: #d4a74e;
        font-size: 1.8rem;
        font-weight: 400;
        font-style: normal;
        white-space: nowrap;

        .light & {
          color: #c49639;
        }
      }
    }
  }
}
