@import "src/App";

$height: 2rem;

.theme-container {
  @include flex-center;
  cursor: pointer;
  gap: 1rem;
  background: none;
  border: none;
  padding: 0;

  & .theme-switch {
    @include flex-center;
    background-color: $primary-color;
    height: $height;
    width: 4rem;
    border-radius: calc($height / 2);

    &.off {
      background-color: $back-color;
      color: white;
    }

    & > .lever {
      transition: transform 0.3s;
      background-color: #fff;
      height: calc($height * 0.8);
      width: calc($height * 0.8);
      border-radius: 50%;
      transform: translateX(60%);
    }

    &.off > .lever {
      transform: translateX(-60%);
    }
  }
  & img {
    height: 2rem;
    filter: saturate(100%);
  }

  & .off + img {
    filter: brightness(0%);
  }
}
