$color-back: #050505;
$font-color: #efefef;
$window-color: #1f1f1f;
$primary-color: #a445ed;
$back-color: #757575;
$app-margin: 4rem;
$font-names: lora, inter, inconsolata;

$light-font-color: $color-back;
$light-color-back: $font-color;

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin scrollbar-theme {
  /* Set the width and height of the scrollbar */
  &::-webkit-scrollbar {
    width: 0.4rem;
    height: 0.2rem;
  }

  /* Set the background color of the scrollbar track */
  &::-webkit-scrollbar-track {
    background-color: $window-color;
  }

  /* Set the color and style of the scrollbar thumb */
  &::-webkit-scrollbar-thumb {
    background-color: darken($font-color, 60%);
    border-radius: 0.5rem;
    border: none;
  }
}

@each $font-name in $font-names {
  @font-face {
    font-family: $font-name;
    src: local($font-name),
      url("/src/assets/fonts/#{$font-name}/#{$font-name}.ttf")
        format("truetype");
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  transition: background-color 0.3s;
  background-color: $color-back;
  color: $font-color;
}

.app {
  min-height: 100vh;
  margin: 0 auto;
  padding: $app-margin 3rem;
  max-width: 80rem;
  font-size: 3rem;
  display: flex;
  flex-direction: column;

  & .app-content {
    flex: 1;
    min-height: 0;
  }

  & .light {
    body {
      color: #262626;
      background-color: #f5f5f5;
    }
  }
}
