@import "./App";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Devanagari:wght@400;600;700&family=Mukta:wght@400;600;700&family=Halant:wght@400;600;700&family=Sahitya:wght@400;700&display=swap');

$screen-medium: 450px;
$screen-small: 350px;

:root {
  font-size: 10px;

  @media screen and (max-width: $screen-medium) {
    font-size: 7.5px;
  }
}

html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a,
Link {
  transition: filter 0.3s;
  cursor: pointer;
  text-decoration: none;
  color: $primary-color;

  &:hover {
    filter: brightness(120%);
    text-decoration: underline $primary-color;

    .light & {
      filter: brightness(120%);
    }
  }
}
